body{
    font-family: 'Poppins', sans-serif;
}

nav{
    border-bottom: 1px double rgb(32, 84, 0);
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    
}

nav a{
    text-decoration: none;
    color: rgb(32, 84, 0);
}

section{
    border-bottom: 1px double rgb(32, 84, 0);
}

section ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

section ul li{
    
}

section .card .container{
    max-width: max-content;
    max-height: max-content;
}

section .card{
    background-color: bisque;
    width: 300px;
    height: 500px;
}

.card-product-name{
    text-align: center;
}

.card-product-price{
    text-align: center;
}

section .container{
    align-items: center;
    justify-content: center;
}

section a{
    text-decoration: none;
    color: rgb(32, 84, 0);
}

section .container{
    display: flex;
    justify-content: space-around;
}

footer ul{
    list-style-type: none;
    display: inline-block;
    justify-content: space-around;
}

footer .container{
    justify-content: space-around;
    display: flex;
}

footer ul li{
    
}

footer a{
    text-decoration: none;
    color: rgb(32, 84, 0);
}